/* CSS files add styling rules to your content */

body {
  font-family: Montserrat;
}



/* navi */
.nav {
  background-color: black;
  color: white;
  height: 90px;
  font-size: 30px;
  
  
}


ul {
  list-style-type: none;
  margin; 0px;
  padding: 0px;
  
  
}

li{
  display: inline;
  float: left;
  
  
  
}

li a{
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  
  
}

li a:hover {
  background-color: orange;
  color: white;
}



.nav a{
  text-decoration: none;
  
  
}


/* end navi */